<div class="bg-light p-5 rounded animated fadeIn fast">
    <h1 class="display-6 fw-bold">Los mejores Superhéroes</h1>
    <p class="lead">
        Si te gustan los superhéroes y eres fan del universo Marvel y DC Comics, esta lista te va a encantar. En ella
        encontrarás a los principales Superhéroes de Marvel protagonistas de muchas de películas y series de la
        actualidad. Spiderman, Capitán América, Daredevil, La Cosa, Lobezno, Elektra, Hulk...
    </p>
    <a class="btn btn-lg btn-primary" [routerLink]="['/heroes']" role="button">Ver héros &raquo;</a>
</div>